<html>
<!DOCTYPE
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <h1>Sopron város tanulmányi adatbázisa</h1>
    <a href="/school/index">Iskolák</a>
    <a href="/student/index">Diákok</a>
</body>
</html>