<h1>Új iskola hozzáadása</h1>
<form action="create" method="post">
    <label>Név</label>
    <br />
    <input type="text" name="name" />
    <br />
    
    <label>Kor</label>
    <br />
    <input type="number" name="Age" />
    <br />
    
    <label>Típus</label>
    <br />
    <select name="type">
        <option value="Primary" selected>Általános iskola</option>
        <option value="Secondary">Középiskola</option>
        <option value="High">Gimnázium</option>
    </select>
    <br />

    <input type="submit" value="Küldés" />

</form>