<!DOCTYPE html>
<html>
    <head>
        @RenderSection("head", false)
    </head>
    <body>
        <nav>
            <a href="/School/Index">Iskolák</a>
            <a href="/Student/Index">Diákok</a>
            <a href="/Teacher/Index">Tanárok</a>
        </nav>
        @RenderBody()
    </body>
</html>