@using ENOMVG_SOF_2023242.Models
@model IEnumerable<Teacher>

@section head{
    <title>Tanárok</title>
}

<h1>Tanárok</h1>    
    <table>
        <tr>
            <th>Név</th>
            <th>Tantárgy</th>
            <th>Órabér</th>
            <th>Iskola</th>
            <th>Műveletek</th>
        </tr>
        @foreach(var item in Model)
        {
            @:<tr>
                @:<td>@item.Name</td>
                @:<td>@item.MainSubject</td>
                @:<td>@item.Salary</td>
                @:<td>@item.School.Name</td>
                @:<td>
                @:    <a href="/teacher/delete?id=@item.Id">Delete</a>
                @:    <a href="/teacher/update?id=@item.Id">Update</a>
                @:</td>
            @:</tr>
        }
    </table>
<h3><a href="/teacher/create">Tanár hozzáadása</a></h3>
